body	{background-color: white}

h1		{text-align: center; font-size: 55px; color: black;
	border:3px;border-style:double; ;border-color:black ; font-family: cursive; }

li		{font-family: cursive; text-align: center}

h2		{text-align: center; font-family: cursive; ;color: black; }

h3		{text-align: center;font-family: cursive; color:black;}

h4		{ ;text-align: center;font-family: cursive; font-size: 8px; color:black;} 

p 		{text-align: center; color: black; font-family: cursive; font-size: 18px}

img 	{list-style-image: center;}

h5		{text-align: center; font-size: 18px; font-family: cursive; color:black }